<%= form_with(model: @caption, url: captions_path, local: true) do |form| %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <% if caption.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(caption.errors.count, "error") %> prohibited this caption from being saved:</h2>

      <ul>
        <% caption.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, name: 'caption[photo_attributes][image]' %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
