<%#= form_with(model: caption, local: true) do |form| %>
<%#= form_with(model: @caption, url: captions_path, method: :post, multipart: true) do |form| %>
<%= form_with(model: @caption, url: captions_path, local: true) do |form| %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <% if caption.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(caption.errors.count, "error") %> prohibited this caption from being saved:</h2>

      <ul>
        <% caption.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%#= form.label :photo_id, style: "display: block" %>
    <%#= form.number_field :photo_id %>
  </div>

  <div class="field">
    <%#= form.label :photo_id %>
    <%#= form.file_field :photo_id, multiple: true %>

    <%= form.label :image %>
    <%= form.file_field :image, name: 'caption[photo_attributes][image]' %>

  </div>



  <div class="field">
    <%#= form.hidden_field :photo_id, value: @photo.id %>

    <!--input type="file" name="caption[image]"-->
  </div>


  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
